.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-bg-color);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 0;
    transition: 500ms;
    z-index: 205;
    transform: translateX(100%);
}

.sidebar__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 32px 0;
}

.closebtn {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 64px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    color: var(--primary-bg-color);
}

.sidebar__links .link {
    text-decoration: none;
    color: var(--primary-bg-color);
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 500ms;
    font-family: "Cascadia Code", monospace;
    height: 128px;
    width: auto;
    padding-left: 32px;
}

.activeside {
    transform: translateX(0);
    transition: all 1s;
}

